{% extends 'home.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">







<div align="center"><br><br>
    {% for dish in dishes %}

    <img src="{{ dish.image.url }}" alt="" style="width: 300px; height: auto;">
    <a href="{% url 'detail' dish.id %}"><h3>{{ dish.title }}</h3></a>
    <h5>{{ dish.description }}</h5>
    <p>{{ dish.price }} сом</p>
    <a class="btn btn-success" href="{% url 'cart_add' dish.id %}" role="button">Add to cart</a>
    <br><br>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <a class="btn btn-warning" href="{% url 'update_dish' dish.id %}" role="button">Update</a>
    <a class="btn btn-danger" href="{% url 'delete_dish' dish.id %}" role="button">Delete</a>
    {% endif %}
    <hr>

    {% endfor %}
</div>
<!--pagination-->
{% if is_paginated %}
  <nav aria-label="Page navigation example" style="display: flex; flex-direction:column; justify-content: center; align-items: center;">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'list' category %}?page={{ page.obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<!--End pagination-->



{% endblock %}